{{!-- Пошук країн --}}

{{#each this}}
<h1 class="name">{{name.common}}</h1>

<div class="info">
    {{!-- <h1 class="name">{{name.common}}</h1> --}}
    <div class="font-size">Capital: {{capital}}</div>
    <div class="font-size">Population: {{population}}</div>
    <div class="font-size">Languages:
        <ul class="languages">
            {{#each languages}}
                <li>
                    {{this}},
                </li>
            {{/each}}
        </ul>
    </div>

    <div>
        <img src="{{flags.png}}" 
        alt="{{name.common}}">
    </div>
{{/each}}



{{!-- Пошук коктейлів --}}

{{!-- {{#each this}}
    <li>
        <img src="{{this.strDrinkThumb}}" 
        alt="{{this.strDrink}}">
        <p>{{this.strDrink}}</p>
    </li>
{{/each}} --}}



{{!-- Було --}}

{{!-- {{#each this}}
<li>
    <h3>{{name.common}}</h3>
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    <p>Languages:
        {{#each languages}}
        {{this}},
        {{/each}}
    </p>
    <img src="{{flags.png}}" alt="{{name.common}}">
</li>
{{/each}} --}}