{{!-- Пошук країн --}}

{{#each this}}
<li>
    <img src="{{this.coatOfArms}}" alt="{{this.capital}}">
    <p>{{this.capital}}</p>
</li>
{{/each}}

{{!-- Пошук коктейлів --}}

{{!-- {{#each this}}
    <li>
        <img src="{{this.strDrinkThumb}}" 
        alt="{{this.strDrink}}">
        <p>{{this.strDrink}}</p>
    </li>
{{/each}} --}}