{{!-- Пошук країн --}}

{{#each this}}
<div>
    <div>{{name.common}}</div>
    <div>Capital: {{capital}}</div>
    <div>Population: {{population}}</div>
    <div>Languages:
        {{#each languages}}
            <ul>
                <li>
                    {{this}},
                </li>
            </ul>
        {{/each}}
    </div>
</div>
    <div>
        <img src="{{flags.png}}" 
        alt="{{name.common}}">
    </div>
{{/each}}



{{!-- Пошук коктейлів --}}

{{!-- {{#each this}}
    <li>
        <img src="{{this.strDrinkThumb}}" 
        alt="{{this.strDrink}}">
        <p>{{this.strDrink}}</p>
    </li>
{{/each}} --}}



{{!-- Було --}}

{{!-- {{#each this}}
<li>
    <h3>{{name.common}}</h3>
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    <p>Languages:
        {{#each languages}}
        {{this}},
        {{/each}}
    </p>
    <img src="{{flags.png}}" alt="{{name.common}}">
</li>
{{/each}} --}}